#json-content{margin:50px; width:100%; max-width:80%;}
table{margin:0; padding:0;}
th{padding:6px 20px; margin:0; font:700 14px/20px arial; color:#333; text-align:left;}
td{padding:6px 20px; margin:0; font:normal 13px/20px arial; color:#333; text-align: left;}
h1{padding:0; margin:0 0 20px 0; font:700 24px/35px arial; color:#333; }
h1 span{padding:0; margin:0; font:700 16px/35px arial;}